# Settings
WHATSAPP_BOT_HOST=http://localhost:8080
WHATSAPP_VERIFY_TOKEN=verify-token

# Ikigai API
IKIGAI_API_URL=http://electro:8000
IKGAI_API_TOKEN=api-token

# httpx
HTTPX_CLIENT_VERIFY_SSL=0

# Whatsapp API
WHATSAPP_API_URL=https://graph.facebook.com
WHATSAPP_API_VERSION=v18.0
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_APP_ID=
WHATSAPP_APP_SECRET=