[MAIN]
max-line-length=100

disable=
    E0401,  # Import error: Ignored because imports actually work
    R0801,  # Duplicate code
    R0903,  # Too few public methods
    C0114,  # Missing module docstring
    C0115,  # Missing class docstring
    C0116,  # Missing function or method docstring
    C0302,  # Too many lines in module
    W0511,  # TODO
    R0913,  # Too many arguments
    R0917,  # Too many positional arguments

[MASTER]
init-hook='import sys; sys.path.append("ikigai_whatsapp_bot")'